Flask==2.1.0
Pillow==9.0.0
diffusers==0.11.1
torch==1.13.1
transformers==4.26.0
accelerate==0.16.0
opencensus-ext-azure==1.1.7
opencensus-ext-flask==0.8.2
werkzeug==2.0.3
# Ajoutez ici toutes les autres dépendances nécessaires à votre application
